<!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/justified-nav.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script src="../js/bootstrap.js"></script>

<h3> All products for sale </h3>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm purchase</h4>
            </div>
        
            <div class="modal-body">
                <p>You are about to buy a new product, this procedure is irreversible.</p>
                <p>Do you want to proceed?</p>
                <p class="debug-url"></p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"> No, I'dont !</button>
                <a class="btn btn-success btn-ok">Yes, I do!</a>
            </div>
        </div>
    </div>
</div> 

<div class="row">
    <% for(var i = 0 ; i < products.length; i++){ %>
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="images/<%=products[i].category%>.jpg" style="max-height: 150px; max-width: 320px;">
            <div class="caption">
                <h4 class="pull-right">$<%= products[i].price%></h4>
                <h4><a href="/product?id_product=<%=products[i]._id%>"><%= products[i].name %></a>
                </h4>
                <p> <%= products[i].description %> </p>
                <p> Created: <%= products[i].created.toLocaleString() %> </p>
            </div>
            <div class="ratings">
                <p class="pull-right"><%= products[i].username %></p>
                <p>
                    <button class="btn btn-success" data-href="/buy?id_product=<%=products[0]._id%>" data-toggle="modal" data-target="#confirm-delete"> Buy It Now!</button>
                </p>
            </div>
        </div>
      </div>
    <% } %>
</div>

 <script>
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
</script>
