<h3> My recent purchases  </h3>
<div class="row">
    <% for(var i = 0 ; i < products.length; i++){ %>
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="images/<%=products[i].category%>.jpg" style="max-height: 150px; max-width: 320px;">
            <div class="caption">
                <h4 class="pull-right">$<%= products[i].price%></h4>
                <h4><p><%= products[i].name %></p>
                </h4>
                <p> <%= products[i].description %> </p>
                <p> Created: <%= products[i].created.toLocaleString() %> </p>
            </div>
            <div class="ratings">
                <p class="pull-right"><%= products[i].username %></p>
                <p> <strong> SOLD </strong> </p>
            </div>
        </div>
      </div>
    <% } %>
</div>