<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Buy & Sell</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/justified-nav.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script type="text/javascript"> 


      $(document).ready( function(){
        
        $('#add_product').click(function(){
          $.ajax({
            url: '/form_insert_product',
            method: "get",
            success: function(data){
              $('#main-menu').html(data)
            }
          });
        });

        $('#view_myproducts').click(function(){
          $.ajax({
            url: '/myproducts',
            method: "get",
            success: function(data){
              $('#main-menu').html(data)
            }
          });
        })

        $('#view_products').click(function(){
          $.ajax({
            url: '/allproducts',
            method: "get",
            success: function(data){
              $('#main-menu').html(data)
            }
          });
        })
        
        $('#recent_purchases').click(function(){
          $.ajax({
            url: '/recents',
            method: "get",
            success: function(data){
              $('#main-menu').html(data)
            }
          });         
        })

      });
    </script>

  </head>

  <body>

    <div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Buy & Sell</h3>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="/home">My page</a></li>
            <li><a href="/logout" style="color: red;">Logout</a></li>
          </ul>
        </nav>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4 col-md-3 sidebar">
          <div class="list-group">
            <p class="list-group-item"><strong> Cash available: $<%= result.cash %></strong></p>
            <a id="view_myproducts" class="list-group-item" style="cursor: pointer;"> My products <span class="badge"><%= result.products %></span></a>
            <a id="add_product" class="list-group-item" style="cursor: pointer;"> New product </a>
            <a id="view_products" class="list-group-item" style="cursor: pointer;"> All products for sale </a>
            <a id="recent_purchases" class="list-group-item" style="cursor: pointer;"> Recent purchases </a>
          </div>
        </div>

        <div class="col-sm-8" id="main-menu">
            <h4>Update product:</h4>
        <div class="panel panel-default">
            <div class="panel-body form-horizontal payment-form">
                <form action="/update?id_product=<%=product[0]._id%>" method="post">
                    <div class="form-group">
                        <label for="concept" class="col-sm-3 control-label">Product name</label>
                        <div class="col-sm-9">
                          <label for="concept" class="col-sm-3 control-label"><%= product[0].name%> </label>
                            <!--<input type="text" class="form-control" id="name" name="name" value="<%= product[0].name%>">-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="description" name="description" value="<%= product[0].description%>">
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Price</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="value" name="value" value="<%= product[0].price%>">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-default preview-add-button">
                                <span class="glyphicon glyphicon-floppy-disk"></span> update
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
          
        </div>

      </div>  <!--End row-->


      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; 2017 Buy & Sell, Inc. Guilherme Pavarina de Sá</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
